*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;


}
header{
    width: 1600px;
    height: 92px;
}
.navbar{
    width: 1600px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    text-transform: capitalize;
    border-bottom: 2px solid;
    text-decoration: none;
}
.list{
    list-style: none;
    display: flex;
    gap: 34px;
    text-decoration: none;
    color: black;
    text-decoration: none;
}

.button{
    width: 164px;
    height: 44px;
    background-color: #30b868;
    color: white;
    text-decoration: none;

    padding: 12px 16px 12px 16px;
}
.button:hover{
    background-color: green;
}

.banner{
    width: 2042px;
    height: 1363px;
    background-image: url(assets/hero-bg.png);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}


.b1{
     width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    color: rgba(70,145,101,1);

}
.content{
width: 1360px;
height: 295px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16;


}


.content h1{
    

 width: 770px;
 height: 168px;
 opacity: 0.9;
    font-family: Inter;
    font-style: bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);


}

.content h1 span{
    color: rgb(48,184,104,1);
} 

.content p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: regular;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;

}
.banner-btn{
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30b868;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}

.banner-btn2{
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 1px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}
.button5{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.bd{
    width: 1600px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 44;
    padding: 0 120px 120px 120px;
}
.c{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50;


}
.woo{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.woo h3{
    width: 274px;
    height: 29px;
    color: rgba(0,25,49,1);
    font-family: inter;
    font-style: semi-bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.woo p{
    
 width: 274px;
 height: 40px;
 color: var(--#627382, rgba(98, 115, 130, 1));

 font-family: Inter;
 font-style: Regular;
 font-size: 16px;
 font-weight: 400;
 line-height: 20px;
 letter-spacing: 0%;
 text-align: center;
}

.c1{
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
}
.c1 img{  
 width: 32px;
 height: 32px;
 color: (255, 255, 255, 1)
}

.d1{
    
 width: 1360px;
 height: 600px;

 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  align-items: center;
 gap: 60;


}
.s1{
width: 1600px;
height: 840px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 40;
padding: 120px;
background: rgba(255, 255, 255, 1);



}

.dimg{
    
 width: 600px;
 height: 600px;
 border-radius: 12px;
 padding: 0;
  display: block;
 gap: 60;

}
.dcontain{
 width: 700px;
 height: 396px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 40;


}

.dspan{
    width: 700px;
    height: 20px;
    color: rgba(70,145,101,1);
    font-family: inter;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
   
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.dcontain h2{
 width: 700px;
 height: 116px;
 color: rgba(0, 25, 49, 1);

 font-family: Inter;
 font-style: Bold;
 font-size: 48px;
 font-weight: 700;
 line-height: 58px;
 letter-spacing: 0%;
 text-align: left;
 text-transform: capitalize;
}
.dcontain p{
     width: 700px;
 height: 60px;
 color: rgba(98,115,130,1);

 font-family: Inter;
 font-style: regular;
 font-size: 16px;
 font-weight: 400;
 line-height: 20px;
 letter-spacing: 0%;
 text-align: left;

    
}
.ulpoint{
    list-style: none;
}
.ulpoint li{
      width: 382px;
 height: 20px;
 color: rgba(0,25,49,1);

 font-family: Inter;
 font-style: medium;
 font-size: 16px;
 font-weight: 500;
 line-height: 20px;
 letter-spacing: 0%;
 text-align: left;


}


.s2{
    
width: 1600px;
height: 506px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 40;
padding: 120px;
background: rgba(255, 255, 255, 1);


}
.d2{
width: 1360px;
height: 384px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 80px 40px 80px 40px;
border-radius: 12px;
background: rgba(247, 246, 242, 1);



}
.d2 h1{
    width: 1280px;
height: 48px;
color: black;
 font-family: inter;
 font-style: bold;
 font-size: 40px;
 font-weight: 700;

 letter-spacing: 0%;
 text-align: center;
 text-transform: capitalize;

}
.d2 p{
    width: 1280px;
height: 48px;
color: rgb(98,115,130,1);
 font-family: inter;
 font-style: regular;
 font-size: 16px;
 font-weight: 400;
 
 letter-spacing: 0%;
 text-align: center;
 text-transform: capitalize;


}

.new{
    width: 212px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    background:green;
}
.btnnn2{


  width: 132px;
height: 19px;
color: rgb(255,255,255,1);
 font-family: normal;
 font-style: semi bold;
 font-size: 16px;
 font-weight: 600;
 letter-spacing: 0%;
 text-align: left;
 text-decoration: none;
 text-transform: capitalize;

}
.new:hover{
    background-color: greenyellow;

}

.f1{
width: 1600px;
height: 348px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 80;
padding: 120px 120px 30px 120px;
background: var(--Style, rgba(0, 25, 49, 1));


}

.d30{
width: 1360px;
height: 64px;
display: flex;

justify-content: space-between;
align-items: flex-start;


}

.d33{
width: 113px;
height: 28px;
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

.d33 img{
width: 20px;
height: 20px;
}
.cpy{
width: 1360px;
height: 24px;
color: rgba(250, 250, 250, 1);
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
