*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;


}
header{
    width: 1600px;
    height: 92px;
}
.navbar{
    width: 1600px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    text-transform: capitalize;
    border-bottom: 2px solid;
}
.list{
    list-style: none;
    display: flex;
    gap: 34px;
    text-decoration: none;
    color: black;
}

.button{
    width: 164px;
    height: 44px;
    background-color: #30b868;
    color: white;
    text-decoration: none;

    padding: 12px 16px 12px 16px;
}
.button:hover{
    background-color: green;
}

.banner{
    width: 2042px;
    height: 1363px;
    background-image: url(assets/hero-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.b1{
     width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    color: rgba(70,145,101,1);

}
.content{
    position: relative;
    width: 770px;
    height: 168px;
    
    padding: 0;
    color: rgb(0, 25, 49, 0.8);
}


.content h1{
    
    padding: 16,295,16,295;
    opacity: 0.9;
    font-family: Inter;
    font-style: bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);


}

.content h1 span{
    color: rgb(48,184,104,1);
} 

.content p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: regular;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;

}
.banner-btn{
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30b868;
    color: rgba(255, 255, 255, 1);

}

.banner-btn2{
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 1px;
    color: rgba(255, 255, 255, 1);

}
.button5{
    display: flex;
    flex-direction: row;
}

